@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Autour+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

.navbar .container-fluid .header-text {
  color: #fc3468;
}
.navbar .container-fluid .navbar-collapse .nav-item a {
  color: #ffc2cd;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.navbar-collapse .navbar-nav .nav-item a:hover {
  color: #fc3468;
}

.carousel {
  display: flex;
  overflow: hidden;
}
.carousel .carousel-inner .c-item {
  height: 650px;
}
.carousel .carousel-inner .c-item .c-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
}
.carousel .carousel-inner .c-item .c-img .carousel-caption {
  bottom: 220px;
}

.container-fluid .row {
  background-color: #ffc2cd;
}
.container-fluid .row .about-us h1 {
  align-items: end;
}

@media (max-width: 767px) {
  .custom-containerfluid .row .col-lg-9 {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.secontion3-customcontainer .part3 .col-lg-4 .background {
  width: 400px;
  height: 600px;
  background: linear-gradient(0deg, rgb(238, 10, 103) 0%, rgb(254, 161, 190) 100%);
}
.secontion3-customcontainer .part3 .col-lg-4 .background .wrapper img {
  width: 90%;
  height: auto;
}
.secontion3-customcontainer .part3 .col-lg-4 .background .wrapper-content {
  padding: 15px 15px;
}
.secontion3-customcontainer .part3 .col-lg-4 .background .wrapper-content h4 {
  color: #fff;
}
.secontion3-customcontainer .part3 .col-lg-4 .background .wrapper-content p {
  color: #ffc2cd;
}

.secontion4-customcontainer .part4 .col-lg-6 .img-container img {
  transition: 1s;
}
.secontion4-customcontainer .part4 .col-lg-6 .img-container img:hover {
  width: 55%;
  transform: scale(1.1);
}

.secontion5-customcontainer .part5 .custom .img-container {
  max-width: 500px;
  height: auto;
}
.secontion5-customcontainer .part5 .custom .img-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.secontion5-customcontainer .part5 .custom .img-container img:hover {
  width: 105%;
  transition: 1s;
}

.shadesofpink .sop-wrapper .logo a {
  color: #fc3468;
}
.shadesofpink .sop-wrapper .text p {
  color: brown;
}

.shadesofpink-container .text-navi a {
  color: #fc3468;
}

.sop-container .row .col-lg-3 .sop-img-container {
  width: 200.75px;
  height: 212.75px;
}
.sop-container .row .col-lg-3 .sop-img-container img {
  width: 100%;
  height: 100% !important;
}

.sop-container .row .col-lg-3 .sop-img-container img:hover {
  filter: brightness(0.7);
  transition: 1s;
}

.rosewithbabebreathe-container .row .col-lg-6 {
  background-size: cover;
  overflow: hidden;
}
.rosewithbabebreathe-container .row .col-lg-6 .rosewithbabebreathe-img {
  width: 100%;
  height: auto;
}
.rosewithbabebreathe-container .row .col-lg-6 .rosewithbabebreathe-img img {
  width: 100%;
  height: 100%;
}
.rosewithbabebreathe-container .row .col-lg-6 .rosewithbabebreathe-img img:hover {
  filter: brightness(0.5);
  transition: 0.5s;
}
.rosewithbabebreathe-container .row .col-lg-6 .rosewithbabebreathe-caption {
  min-width: 300px;
}
.rosewithbabebreathe-container .row .col-lg-6 .rosewithbabebreathe-caption h2 {
  color: #fc3468;
}

.card-message p {
  font-size: 18px;
  color: #fc3468;
}
.card-message textarea {
  width: 70%;
  height: 55px;
  padding: 15px;
  overflow: hidden;
  resize: none;
}

.quantity p {
  font-size: 15px;
  color: #fc3468;
}
.quantity textarea {
  width: 70%;
  height: 55px;
  padding: 15px;
  overflow: hidden;
  resize: none;
}/*# sourceMappingURL=styles.css.map */